
body{
    font-family: Segoe UI, Helvetica, sans-serif;
}
.form{
    padding: 0 20px;
}
.form__block{
    margin: 30px 0;
}
.form__block__input-block{
    border: 1px dashed grey;
    padding:0 10px 10px 10px;
    align-content: center;
}
.form__block__input-block__title{
    position: relative;
    bottom:0.9em;
    margin: 0;
    left:1em;
    width: fit-content;
    background-color: white;
}
.form__block__input-block__input{
    border: 2px solid indigo;
    line-height: 2em;
    width: 100%;
    font-size: 14px;
    box-sizing:border-box;
}
.form__block__input-block input,.input_comment{
   padding-left: 0.5em;
}

.form__button{
    color: white;
    background-color: indigo;
    border:0;
    font-size: 14px;
    height: 2em;
}

.input_date{
    color: black;
    width:min-content;
    height: 2em;
}
.input_comment{
    height: 5em;
}
.input_book{
    margin:0;
}
.form__block__input-block__table{
    border-spacing: 10px 0;
    width:100%;
}