div{
    width: 600px;
    height: 100px;
    position: relative;
}

/*z-index располгает элементы на векторе "эран 0----->n наблюдатель" в зависимости от значений,
     работает для элментов, у которых задано значение  position=absolute|fixed|relative. */
#div1{
    background-color: rgba(76, 0, 130, 0.562);
    left:200px;
    top: 50px;
    z-index:4;/*div1 ниже div4, z-index div4 должен быть больше z-index div1, или равен ему, т.к. блок div4 ниже в разметке */
}
#div2{
    position: absolute;
    left: 250px;
    z-index: 0;/* ниже всех => z-index=0*/
    height: 500px;
    width: 500px;
    top:100px;
    background-color: rgba(255, 0, 0, 0.562);
}
#div3{
    background-color: rgba(0, 0, 255, 0.562);
    z-index: 2;/*div3 выше div5, z-index div3 должен быть больше z-index div5 */
    top: 450px;
    left:200px;
}
#div4{
    background-color: rgba(255, 166, 0, 1);
    width: 400px;
    left: 300px;
    top: -100px;
    z-index:4;
}
#div5{
    background-color:rgba(46, 139, 86, 1);
    z-index:1;
    width: 400px;
    left: 300px;
    top: 200px;
}